[Desktop Entry]
Type=Application
Name=Алиса
Comment=Алиса как отдельное веб‑приложение
Exec=/home/ijin/Yandex.Disk/_AltLinux/Alice-YB/alice-window.sh
Icon=alice_512
Terminal=false
Categories=Utility;
StartupWMClass=chrome-ya.ru__alice-Default

