[Desktop Entry]
Type=Application
Name=Алиса
Comment=Алиса как отдельное веб‑приложение
Exec=alice-window.sh
Icon=alice_512
Terminal=false
Categories=Utility;
StartupWMClass=chrome-ya.ru__alice-Default

